.block-lunr-search {
  display: none;
}

@media screen and (min-width: 48em) {
  .block-lunr-search {
    display: block;
  }
  .block-lunr-search form {
    display: flex;
    align-items: center;
  }
  .block-lunr-search input[type="submit"] {
    margin-left: 10px;
  }
}
